<header class="unselectable">

  <div class="desktop-only">

    <div class="site-header fixed top-0 left-0 right-0 bg-white shadow-1 z-max" role="banner">
      <div class="wrapper">
        {%- assign default_paths = site.pages | sort:"order" | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}

        {%- if page_paths -%}

        <nav class="db w-100 border-box pa0 sans-serif flex items-center">

          <a href="{{ "/" | relative_url }}" class="v-mid mid-gray link dim w5 pl3" href="#" title="home">
            <img class="logo" width="183" height="64" src="/assets/logo.png">
          </a>

          <div class="v-mid w-100 tr truncate">
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
                <a class="link source-sans-pro dim dark-gray f5 dib mr1-l ph2 pt3 pb3
                  {% if my_page.url == page.url %}bg-light-gray{% endif %}
                " href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {%- endif -%}
            {%- endfor -%}
          </div>


        </nav>
        {%- endif -%}
      </div>

    </div>

  </div>

  <div class="mobile-only">
    <div class="site-header fixed top-0 left-0 right-0 bg-white shadow-1 z-max" role="banner">

      <script type="text/javascript">
        function mostrar_menu() {
          let menu = document.getElementById("menu");
          menu.classList.toggle("dn");
        }


        function ocultar_menu() {
          let menu = document.getElementById("menu");
          menu.classList.push("dn");
        }
      </script>

      <div class="wrapper">
        {%- assign default_paths = site.pages | sort:"order" | map: "path" -%}
        {%- assign page_paths = site.header_pages | default: default_paths -%}

        {%- if page_paths -%}

        <nav class="db dt-l w-100 border-box pa0 ph5-l sans-serif">
          <div onclick="mostrar_menu()" class="dib f3 pa3 debug v-mid pointer dim">
             ☰
          </div>

          <a href="{{ "/" | relative_url }}" class="dtc-l v-mid mid-gray link dim w-100 w-25-l tc tl-l mb2 mb0-l" href="#" title="home">
            <img class="h3" src="/assets/logo.png">
          </a>

          <div id="menu" class="dn dtc-l v-mid w-100 w-75-l tc tr-l">
            {%- for path in page_paths -%}
              {%- assign my_page = site.pages | where: "path", path | first -%}
              {%- if my_page.title -%}
                <a onclick="ocultar_menu();" class="link source-sans-pro dim dark-gray f5 db mr1-l ph2 pt3 pb3
                  {% if my_page.url == page.url %}bg-light-gray{% endif %}
                " href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
              {%- endif -%}
            {%- endfor -%}
          </div>


        </nav>
        {%- endif -%}
      </div>

    </div>
  </div>
</header>
