@charset "utf-8";
@import "tachyons.min";
@import "buttons";
@import "lightbox";

.flex1 {
  flex: 1;
}

.bg-bloques {
  background-image: url("background.png");
}

.source-sans-pro {
  font-family: "Source Sans Pro", sans-serif;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
}

code {
  font-family: "Source Sans Pro", sans-serif;
  font-size: large;
  color: gray;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: lighter;
}

body {
  overflow: hidden;
}

.contenedor-scroll {
  position: absolute;
  overflow: auto;
  top: 70px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.lightbox {
  padding-top: 3em;
}
