<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="contenedor-scroll">

      <main class="mw8 center pt5 pt4-l ph2 sans-serif pb4 lh-copy" aria-label="Content">
        {{ content }}

        {%- include footer.html -%}
      </main>

    </div>


  </body>

  <script src="{{'/assets/jquery-3.3.1.min.js'}}"></script>
  <script src="{{'/assets/lightbox.min.js'}}"></script>

  <script>

    lightbox.option({
      resizeDuration: 500,
      wrapAround: true,
      fadeDuration: 200,
      imageFadeDuration: 250
    });

  </script>

</html>
